In [1]:
from Bio import Entrez
from Bio import SeqIO

In [2]:
## Retrieve CoV WGS data from NCBI



#get an id list: this makes a big search and gets a list of id 
 #provide your own mail here
Entrez.email = "jiani.chen@uga.edu"
handle = Entrez.esearch(db='nucleotide', term = ["SARS-CoV-2[All Fields]"],rettype="fasta",retmax='500')
record = Entrez.read(handle)
handle.close()
#print (record["IdList"])
ids = record['IdList']

In [3]:
id_str = ",".join(ids)
handle = Entrez.efetch(db="nucleotide", id=id_str,rettype="fasta")
records = SeqIO.parse(handle, "fasta")
#for rec in records:
#   print("downloaded record " + rec.id)
    
    
 ## get sequence 

SeqIO.write(records, "CoV19.fasta", "fasta")

499

In [4]:

handle2 = Entrez.efetch(db="nucleotide", id=id_str,rettype="gb")
records2 = SeqIO.parse(handle2, "gb")
SeqIO.write(records2, "CoV19.gb", "gb")

500

In [23]:
count = SeqIO.convert("CoV19.gb", "genbank", "CoV19gb.fasta", "fasta")
## filter by length to get WGS 
input_seq_iterator = SeqIO.parse("CoV19.gb", "genbank")
short_seq_iterator = (record for record in input_seq_iterator \
                      if len(record.seq) > 20000
                      if "N" not in record.seq
                     )

SeqIO.write(short_seq_iterator, "CoV19_WGS.fasta", "fasta")

248

In [13]:
## get metadata from gb file
#from Bio.SeqRecord import SeqRecord
#for index, record in enumerate(SeqIO.parse("CoV19.gb", "genbank")):
   # print("index %i, ID = %s, length %i, with %i features"
         # % (index, record.id, len(record.seq), len(record.features)))

In [5]:
# Fetch the entries from Entrez
Entrez.email = "jiani.chen@uga.edu" 
handle3 = Entrez.efetch('nuccore', id=ids, retmode='xml')
response = Entrez.read(handle3)
##From https://www.biostars.org/p/221662/
# Parse the entries to get the country
def extract_countries(entry):
    sources = [feature for feature in entry['GBSeq_feature-table']
               if feature['GBFeature_key'] == 'source']

    for source in sources:
        qualifiers = [qual for qual in source['GBFeature_quals']
                      if qual['GBQualifier_name'] == 'country']
        
        for qualifier in qualifiers:
            yield qualifier['GBQualifier_value']

for entry in response:
    accession = entry['GBSeq_primary-accession']
    for country in extract_countries(entry):
        print(accession, country, sep=',')

MT322424,USA: VA
MT322423,USA: VA
MT322422,USA: VA
MT322421,USA: VA
MT322420,USA: VA
MT322419,USA: VA
MT322418,USA: VA
MT322417,USA: VA
MT322416,USA: VA
MT322415,USA: VA
MT322414,USA: VA
MT322413,USA: VA
MT322412,USA: VA
MT322411,USA: VA
MT322410,USA: VA
MT322409,USA: VA
MT322408,USA: VA
MT322407,USA: VA
MT322406,USA: VA
MT322405,USA: VA
MT322404,USA: VA
MT322403,USA: VA
MT322402,USA: VA
MT322401,USA: VA
MT322400,USA: VA
MT322399,USA: VA
MT322398,USA: VA
MT322397,USA: VA
MT322396,USA: VA
MT322395,USA: VA
MT322394,USA: VA
MT077125,Italy
MT039874,China
MT320891,Iran
MT320538,France
MT300186,USA: North Carolina
MT281530,Iran
MT308700,USA: MI
MT308699,USA: MI
MT308698,USA: MI
MT308697,USA: MI
MT308696,USA: MI
MT308695,USA: MI
MT308694,USA: MI
MT308693,USA: MI
MT308692,USA: MI
MT308704,USA: NC
MT308703,USA: NC
MT308702,USA: NC
MT308701,Tunisia: Tunis
MT304491,USA: TX
MT304490,USA: TX
MT304489,USA: TX
MT304488,USA: RI
MT304487,USA: OR
MT304486,USA: NY
MT304485,USA: NH
MT304484,USA: NH
MT304483,USA: IL
MT304482,USA: IL
MT304481,USA: GA
MT304480,USA: GA
MT304479,USA: GA
MT304478,USA: FL
MT304477,USA: AZ
MT304476,South Korea
MT304475,South Korea
MT304474,South Korea
MT293547,Iraq
MT295465,USA
MT295464,USA
MT291836,China: Beijing
MT291835,China: Beijing
MT291834,China: Beijing
MT291833,China: Beijing
MT291832,China: Beijing
MT291831,China: Beijing
MT291830,China: Wuhan
MT291829,China: Wuhan
MT291828,China: Wuhan
MT291827,China: Wuhan
MT291826,China: Wuhan
MT293225,USA: WA
MT293224,USA: WA
MT293223,USA: WA
MT293222,USA: WA
MT293221,USA: WA
MT293220,USA: WA
MT293219,USA: WA
MT293218,USA: WA
MT293217,USA: WA
MT293216,USA: WA
MT293215,USA: WA
MT293214,USA: WA
MT293213,USA: WA
MT293212,USA: WA
MT293211,USA: WA
MT293210,USA: WA
MT293209,USA: WA
MT293208,USA: WA
MT293207,USA: WA
MT293206,USA: WA
MT293205,USA: WA
MT293204,USA: WA
MT293203,USA: WA
MT293202,USA: WA
MT293201,USA: WA
MT293200,USA: WA
MT293199,USA: WA
MT293198,USA: WA
MT293197,USA: WA
MT293196,USA: WA
MT293195,USA: WA
MT293194,USA: WA
MT293193,USA: WA
MT293192,USA: WA
MT293191,USA: WA
MT293190,USA: WA
MT293189,USA: WA
MT293188,USA: WA
MT293187,USA: WA
MT293186,USA: WA
MT293185,USA: WA
MT293184,USA: WA
MT293183,USA: WA
MT293182,USA: WA
MT293181,USA: WA
MT293180,USA: WA
MT293179,USA: WA
MT293178,USA: WA
MT293177,USA
MT293176,USA: WA
MT293175,USA: WA
MT293174,USA: WA
MT293173,USA: WA
MT293172,USA: WA
MT293171,USA: WA
MT293170,USA: WA
MT293169,USA: WA
MT293168,USA: WA
MT293167,USA: WA
MT293166,USA: WA
MT293165,USA: WA
MT293164,USA: WA
MT293163,USA: WA
MT293162,USA: WA
MT293161,USA: WA
MT293160,USA: WA
MT293159,USA: WA
MT293158,USA: WA
MT293157,USA: WA
MT293156,USA: WA
MT281577,China: Anhui, Fuyang
MT273658,Pakistan
MT292582,Spain
MT292581,Spain
MT292580,Spain
MT292579,Spain
MT292578,Spain
MT292577,Spain
MT292576,Spain
MT292575,Spain
MT292574,Spain
MT292573,Spain
MT292572,Spain
MT292571,Spain
MT292570,Spain
MT292569,Spain
MT276598,Israel
MT276597,Israel
MT276331,USA: TX
MT276330,USA: FL
MT276329,USA: FL
MT276328,USA: OR
MT276327,USA: GA
MT276326,USA: GA
MT276325,USA: WA
MT276324,USA: CA
MT276323,USA: RI
MT263469,USA: WA
MT263468,USA: WA
MT263467,USA: WA
MT263466,USA: WA
MT263465,USA: WA
MT263464,USA: WA
MT263463,USA: CT
MT263462,USA: WA
MT263461,USA: WA
MT263460,USA: IL
MT263459,USA: WA
MT263458,USA: WA
MT263457,USA: WA
MT263456,USA: WA
MT263455,USA: WA
MT263454,USA: WA
MT263453,USA: WA
MT263452,USA: WA
MT263451,USA: WA
MT263450,USA: WA
MT263449,USA: WA
MT263448,USA: WA
MT263447,USA: WA
MT263446,USA: WA
MT263445,USA: WA
MT263444,USA: WA
MT263443,USA: WA
MT263442,USA: WA
MT263441,USA: WA
MT263440,USA: WA
MT263439,USA: WA
MT263438,USA: WA
MT263437,USA: WA
MT263436,USA: WA
MT263435,USA: WA
MT263434,USA: WA
MT263433,USA: IL
MT263432,USA: WA
MT263431,USA: WA
MT263430,USA: WA
MT263429,USA: IL
MT263428,USA: IL
MT263427,USA: WA
MT263426,USA: WA
MT263425,USA: WA
MT263424,USA: WA
MT263423,USA: WA
MT263422,USA: WA
MT263421,USA: WA
MT263420,USA: WA
MT263419,USA: WA
MT263418,USA: WA
MT263417,USA: WA
MT263416,USA: WA
MT263415,USA: MN
MT263414,USA: WA
MT263413,USA: WA
MT263412,USA: WA
MT263411,USA: CT
MT263410,USA: WA
MT263409,USA: WA
MT263408,USA: WA
MT263407,USA: CT
MT263406,USA: MN
MT263405,USA: WA
MT263404,USA: WA
MT263403,USA: WA
MT263402,USA: WA
MT263401,USA: WA
MT263400,USA: WA
MT263399,USA: WA
MT263398,USA: WA
MT263397,USA: WA
MT263396,USA: WA
MT263395,USA: WA
MT263394,USA: WA
MT263393,USA: WA
MT263392,USA: WA
MT263391,USA: WA
MT263390,USA: WA
MT263389,USA: WA
MT263388,USA: WA
MT263387,USA: WA
MT263386,USA: CT
MT263385,USA: WA
MT263384,USA: WA
MT263383,USA: WA
MT263382,USA: WA
MT263381,USA: WA
MT262916,USA: WA
MT262915,USA: WA
MT262914,USA: WA
MT262913,USA: WA
MT262912,USA: WA
MT262911,USA: WA
MT262910,USA: WA
MT262909,USA: WA
MT262908,USA: WA
MT262907,USA: WA
MT262906,USA: WA
MT262905,USA: WA
MT262904,USA: WA
MT262903,USA: WA
MT262902,USA: WA
MT262901,USA: WA
MT262900,USA: WA
MT262899,USA: WA
MT262898,USA: WA
MT262897,USA: WA
MT262896,USA: WA
MT263074,Peru
MT262993,Pakistan: KPK
MT259287,USA: WA
MT259286,USA: WA
MT259285,USA: WA
MT259284,USA: WA
MT259283,USA: WA
MT259282,USA: WA
MT259281,USA: WA
MT259280,USA: WA
MT259279,USA: WA
MT259278,USA: WA
MT259277,USA: WA
MT259276,USA: WA
MT259275,USA: WA
MT259274,USA: WA
MT259273,USA: WA
MT259272,USA: WA
MT259271,USA: WA
MT259270,USA: WA
MT259269,USA: WA
MT259268,USA: WA
MT259267,USA: WA
MT259266,USA: WA
MT259265,USA: WA
MT259264,USA: WA
MT259263,USA: WA
MT259262,USA: WA
MT259261,USA: WA
MT259260,USA: WA
MT259259,USA: WA
MT259258,USA: MN
MT259257,USA: WA
MT259256,USA: WA
MT259255,USA: WA
MT259254,USA: WA
MT259253,USA: WA
MT259252,USA: WA
MT259251,USA: WA
MT259250,USA: WA
MT259249,USA: WA
MT259248,USA: CT
MT259247,USA: WA
MT259246,USA: WA
MT259245,USA: WA
MT259244,USA: WA
MT259243,USA: WA
MT259242,USA: CT
MT259241,USA: WA
MT259240,USA: WA
MT259239,USA: WA
MT259238,USA: WA
MT259237,USA: WA
MT259236,USA: WA
MT259235,USA: WA
MT256918,Spain: Valencia
MT256917,Spain: Valencia
MT258383,USA: San Francisco, CA
MT258382,USA: San Francisco, CA
MT258381,USA: San Francisco, CA
MT258380,USA: San Francisco, CA
MT258379,USA: San Francisco, CA
MT258378,USA: San Francisco, CA
MT258377,USA: San Francisco, CA
MT256924,Colombia: Antioquia
MT259231,China: Hubei, Wuhan
MT259230,China: Hubei, Wuhan
MT259229,China: Hubei, Wuhan
MT259228,China: Hubei, Wuhan
MT259227,China: Hubei, Wuhan
MT259226,China: Hubei, Wuhan
MT198652,Spain: Valencia
MT253710,China: Zhejiang, Hangzhou
MT253709,China: Zhejiang, Hangzhou
MT253708,China: Zhejiang, Hangzhou
MT253707,China: Zhejiang, Hangzhou
MT253706,China: Zhejiang, Hangzhou
MT253705,China: Zhejiang, Hangzhou
MT253704,China: Zhejiang, Hangzhou
MT253703,China: Zhejiang, Hangzhou
MT253702,China: Zhejiang, Hangzhou
MT253701,China: Zhejiang, Hangzhou
MT253700,China: Zhejiang, Hangzhou
MT253699,China: Zhejiang, Hangzhou
MT253698,China: Zhejiang, Hangzhou
MT253697,China: Zhejiang, Hangzhou
MT253696,China: Zhejiang, Hangzhou
MT251980,USA: WA
MT251979,USA: WA
MT251978,USA: WA
MT251977,USA: WA
MT251976,USA: WA
MT251975,USA: WA
MT251974,USA: CT
MT251973,USA: WA
MT251972,USA: WA
MT246490,USA: WA
MT246489,USA: WA
MT246488,USA: WA
MT246487,USA: WA
MT246486,USA: WA
MT246485,USA: WA
MT246484,USA: WA
MT246483,USA: WA
MT246482,USA: WA
MT246481,USA: WA
MT246480,USA: WA
MT246479,USA: WA
MT246478,USA: WA
MT246477,USA: WA
MT246476,USA: WA
MT246475,USA: WA
MT246474,USA: WA
MT246473,USA: WA
MT246472,USA: WA
MT246471,USA: WA
MT246470,USA: WA
MT246469,USA: WA
MT246468,USA: WA
MT246467,USA: WA
MT246466,USA: WA
MT246465,USA: WA
MT246464,USA: WA
MT246463,USA: WA
MT246462,USA: WA
MT246461,USA: WA
MT246460,USA: WA
MT246459,USA: WA
MT246458,USA: WA
MT246457,USA: WA
MT246456,USA: WA
MT246455,USA: WA
MT246454,USA: WA
MT246453,USA: WA
MT246452,USA: WA
MT246451,USA: WA
MT246450,USA: WA
MT246449,USA: WA
MT240479,Pakistan: Gilgit
MT233523,Spain: Valencia
MT233522,Spain: Valencia
MT233521,Spain: Valencia
MT233520,Spain: Valencia
MT233519,Spain: Valencia
MT232872,Iran
MT232871,Iran
MT232870,Iran
MT232869,Iran
MT226610,China
MT198653,Spain: Valencia
MT198651,Spain: Valencia
MT192773,Viet Nam: Ho Chi Minh city
MT192772,Viet Nam: Ho Chi Minh city
MT192765,USA: CA, San Diego County
MT192759,Taiwan
MT192758,Italy: Cagliari
MT186682,Iran: Tehran
MT186681,Iran: Tehran
MT186680,Iran
MT186679,Iran: Tehran
MT186678,Iran: Tehran
MT186677,Iran: Qum
MT186676,Iran: Tehran
MT187977,Italy: Cagliari
MT123293,China: Guangzhou
MT123292,China: Guangzhou
MT123291,China: Guangzhou
MT093631,China
MT163721,USA: WA
MT163720,USA: WA
MT163719,USA: WA
MT163718,USA: WA
MT163717,USA: WA
MT163716,USA: WA
MT163712,Iran
MT163738,Iran
MT163737,Iran
MT163715,India
MT163714,India
MT161607,Italy
MT159778,Nigeria: Lagos
MT121215,China: Shanghai
MT152824,USA: Snohomish County, WA
MT152900,Iran
MT135044,China: Beijing
MT135043,China: Beijing
MT135042,China: Beijing
MT135041,China: Beijing
MT126808,Brazil
MT127116,Viet Nam
MT127115,Viet Nam
MT127114,Viet Nam
MT127113,Viet Nam
MT123290,China: Guangdong, Guangzhou
MT111896,Australia: Queensland
MT111895,Australia: Queensland
MT093571,Sweden
MT081068,China: HuaShang
MT081067,China: HuaShang
MT081066,China: HuaShang
MT081065,China: HuaShang
MT081064,China: HuaShang

In [7]:
import os,sys

sys.stdout = open('output.csv','wt')
for entry in response:
    accession = entry['GBSeq_primary-accession']
    for country in extract_countries(entry):
        print(accession, country, sep='\t')

In [8]:
import pandas as pd

df = pd.read_csv("output.csv",header=None,sep="\t") 
df.columns = ['acession', 'country_state']
df

     acession    country_state
0    MT322424          USA: VA
1    MT322423          USA: VA
2    MT322422          USA: VA
3    MT322421          USA: VA
4    MT322420          USA: VA
..        ...              ...
486  MT081068  China: HuaShang
487  MT081067  China: HuaShang
488  MT081066  China: HuaShang
489  MT081065  China: HuaShang
490  MT081064  China: HuaShang

[491 rows x 2 columns]

In [9]:
df[['country','state']] = df.country_state.str.split(":",expand=True) 
df

     acession    country_state country      state
0    MT322424          USA: VA     USA         VA
1    MT322423          USA: VA     USA         VA
2    MT322422          USA: VA     USA         VA
3    MT322421          USA: VA     USA         VA
4    MT322420          USA: VA     USA         VA
..        ...              ...     ...        ...
486  MT081068  China: HuaShang   China   HuaShang
487  MT081067  China: HuaShang   China   HuaShang
488  MT081066  China: HuaShang   China   HuaShang
489  MT081065  China: HuaShang   China   HuaShang
490  MT081064  China: HuaShang   China   HuaShang

[491 rows x 4 columns]

In [10]:
##combine metadata to seq
records = SeqIO.parse("CoV19_WGS.fasta", "fasta")
SeqIO.write(records, "CoV19.tab", "tab")
df2 = pd.read_csv("CoV19.tab",sep='\t',names=["taxa", "seq"])
df2.head

<bound method NDFrame.head of            taxa                                                seq
0    MT322424.1  ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...
1    MT322420.1  CTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATCT...
2    MT322417.1  TAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATC...
3    MT322415.1  ACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATC...
4    MT322412.1  TAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATC...
..          ...                                                ...
243  MT135042.1  ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...
244  MT135041.1  ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...
245  MT126808.1  ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...
246  MT123290.1  GTTCTTTAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTT...
247  MT093571.1  ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...

[248 rows x 2 columns]>

In [11]:
df2[['acession','version']] = df2.taxa.str.split(".",expand=True) 
df2

,taxa,seq,acession,version
0,MT322424.1,ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...,MT322424,1
1,MT322420.1,CTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATCT...,MT322420,1
2,MT322417.1,TAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATC...,MT322417,1
3,MT322415.1,ACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATC...,MT322415,1
4,MT322412.1,TAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATC...,MT322412,1
...,...,...,...,...
243,MT135042.1,ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...,MT135042,1
244,MT135041.1,ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...,MT135041,1
245,MT126808.1,ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...,MT126808,1
246,MT123290.1,GTTCTTTAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTT...,MT123290,1
247,MT093571.1,ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...,MT093571,1

In [12]:
## add seq to acession
data=pd.merge(df2, df, how='left', left_on='acession', right_on='acession')

In [13]:
data.to_csv('CoV19_country.csv')